</main>
</body>
<footer>
  <section id="footer">
    <a href="https://pickleball-la.herokuapp.com/">
      <img src="https://i.imgur.com/PcnVQwT.png" alt="pickleballLALogo" id="footerPickleballLogo">
    </a>
    &nbsp;
    &nbsp;
    <h6>Pickleball LA ⓒ | coded by kk </h6>
    &nbsp;
    &nbsp;
    <a href="https://github.com/kailahk">
      <img alt="github logo / link to deverloper's github" src="https://i.imgur.com/I3cO8Mo.png" id="footerGithubLogo">
    </a>
  </section>
</footer>

</html>