<%- include('./partials/header') %>

  <header>
    <section class='hero-header'>
      <h2>Welcome to Pickleball LA! Log in or sign up to browse our Pickleball courts and make a free reservation to
        play.</h2><br>
      <img src="https://i.imgur.com/PcnVQwT.png" alt="pickleballLALogo" id="logoImgLandingPage">
    </section>
  </header>

  <%- include('./partials/footer') %>