<%- include('./partials/header') %>

  <h2>Welcome! Log in or sign up to browse our Pickleball courts and make a free reservation to play.</h2>
  <img src="images/frankie-lopez-dA68yigQgSQ-unsplash (1).jpg" alt="pickleball-court" class="courtImg">
  
<%- include('./partials/footer') %>