body {
  padding: 3vmin 5vmin 0vmin 5vmin;
  font-family: 'Roboto', sans-serif;
  display: grid;
  text-align: center;
  grid-template-rows: 20vmin 100vmin;
  grid-template-areas: 
    "nav"
    "main"
}

a {
  color: #435F3F;
}

.login img {
  height: 30px;
  margin-top: -3vmin
}

.logout > img {
  height: 6vmin;
  width: 6vmin;
}

.logout > p {
  margin: -1vmin 0 0 0;
  font-size: 3vmin;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav {
  background-color: #A8C49B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vmin;
  font-size: 4vmin;
}

.courtImg {
  height: 80vh;
}

main {
  background-color: #A8C49B;
}

h2 {
  padding: 0 28vmin 3vmin 28vmin;
  line-height: 5vmin;
  color: white;
  font-size: 4vmin;
}

table, th, tr, tbody {
  border: 0.5vmin solid #435F3F
}