body {
  font-family: 'Roboto', sans-serif;
  color: #435F3F;
  display: grid;
  text-align: center;
  grid-template-rows: 15vmin 80vmin 5vmin;
  grid-template-areas:
    "nav"
    "main"
    "footer"
}

a {
  color: #435F3F;
}

.login>img {
  height: 30px;
  margin-top: -2vmin;
}

.logout>img {
  height: 6vmin;
  width: 6vmin;
}

.logout>p {
  margin: -1vmin 0 0 0;
  font-size: 2vmin;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: #A8C49B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.75vmin 3vmin 0 3vmin;
  font-size: 3vmin;
}

h2 {
  line-height: 5.25vmin;
  color: white;
  font-size: 5vmin;
  padding: 0 30vmin 0 30vmin;
}

h3 {
  font-size: 3vmin;
  padding-top: 1vmin;
}

main {
  padding: 0 10vmin;
}

.homepage {
  padding: 0 0 0 0;
}

table,
tr,
tbody,
td {
  border: 0.25vmin solid #435F3F;
  margin: 3vmin auto 0 auto;
  padding: 1.5vmin;
}

th {
  border: 0.25vmin solid #435F3F;
  padding: 1vmin;
}

thead {
  background-color: #A1BBE8;
}

.logo {
  height: 10vmin;
}

header {
  height: 810px;
  width: 100%;
  text-align: center;
  padding-top: 125px;
  color: white;
  overflow: hidden;
  background: #A1BBE8;
  /* fallback for old browsers */
  background: linear-gradient(rgb(169, 196, 155, 0.8), rgb(161, 187, 232, 0.8)), url("https://i.imgur.com/74mNwIa.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgb(168, 196, 155, 0.8), rgb(161, 187, 232, 0.8)), url("https://i.imgur.com/74mNwIa.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}

#logoImgLandingPage {
  height: 20vmin;
  width: 20vmin;
  opacity: 0.8;
}

.strong {
  font-size: 3vmin;
  font-weight: bold;
}

.underlined {
  text-decoration: underline solid;
}

#add-review-form,
#edit-review-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#edit-review-form {
  margin-top: 6vmin;
}

#addReviewBtn,
#deleteRevBtn,
#updateRevBtn {
  height: 4vmin;
  border-radius: 2vmin;
  margin-top: 3vmin;
  font-size: 1.6vmin;
  border: solid 0.25vmin #AFB1AE;
  background-color: #CEDEC6;
  color: #435F3F;
}

#deleteRes,
#addResBtn {
  height: 4vmin;
  border-radius: 2vmin;
  font-size: 1.6vmin;
  border: solid 0.25vmin #AFB1AE;
  background-color: #CEDEC6;
  color: #435F3F;
}

.avatarImg {
  height: 6vmin;
  width: 6vmin;
}

.review-user {
  font-size: 1.25vmin;
}

input,
textarea,
select {
  font-size: 2.25vmin;
  border-radius: 1vmin;
  padding: 0.5vmin;
}

#form {
  display: grid;
}

main a {
  border-radius: 2vmin;
  border: solid 0.25vmin #AFB1AE;
  background-color: #CEDEC6;
  font-size: 1.6vmin;
  text-decoration: none;
  padding: .65vmin;
}

main a:hover {
  border: solid 0.25vmin #CEDEC6;
  background-color: #A8C49B;
  color: #435F3F;
}

#addReviewBtn:hover,
#deleteRevBtn:hover,
#updateRevBtn:hover {
  border: solid 0.25vmin #CEDEC6;
  background-color: #A8C49B;
  color: #435F3F;
}

#deleteRes:hover,
#addResBtn:hover {
  border: solid 0.25vmin #CEDEC6;
  background-color: #A8C49B;
  color: #435F3F;
}

#footerPickleballLogo,
#footerGithubLogo {
  height: 3vmin;
  width: 3vmin;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0.7vmin;
  font-family: 'Roboto', sans-serif;
  color: #435F3F;
}

h6 {
  margin-top: 0.75vmin;
  font-size: 1.5vmin;
}