<%- include('../partials/header') %>

<h2>New Reservation</h2>
<form id="add-reservation-form" method="POST"
  action="/reservations">
  <label>Court:
    <select name="court" type="text">
        <%- courts.map(c => 
      `<option value="${c._id}">${c.court} - ${c.location}</option>`
    ).join('') %>
    </select>
  </label>
  <br><br>
  <label>Date & Time:
    <input type="date" name="date">
    <select type="text" name="time">
        <option value="9:00am - 10:30am PT">9:00am - 10:30am PT</option>
        <option value="10:30am - 12:00pm PT">10:30am - 12:00pm PT</option>
        <option value="12:00pm - 1:30pm PT">12:00pm - 1:30pm PT</option>
        <option value="1:30pm - 3:00pm PT">1:30pm - 3:00pm PT</option>
        <option value="3:00pm - 4:30pm PT">3:00pm - 4:30pm PT</option>
        <option value="4:30pm - 6:00pm PT">4:30pm - 6:00pm PT</option>
    </select>
  </label><br><br>
  <input type="submit" value="Add Reservation">
</form>

<%- include('../partials/footer') %>