<%- include('../partials/header') %>

    <% if (user) { %>
        <form id="edit-review-form" method="POST"
        action="/reviews/<%= review._id %>?_method=PUT">
            <textarea id="" name="content"><%= review.content %></textarea>&nbsp;&nbsp;&nbsp;
            <input id="updateRevBtn" type="submit" value="Update Review">
        </form>
    <% } %>

<%- include('../partials/footer') %>
